body {
    background-color: white;
}

.topnav{
  background-color: #bbb;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: blue /*#f2f2f2*/;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: blue /* #ddd*/;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.main {
   margin-top: 30px; 
}

h2 {color: white; font-size:15px;}
